<launch>
  <arg name="model" />
  
  <arg name="gui" default="True" />

  <param name="use_gui" value="$(arg gui)" />

  <arg name="vehicle" value="yutu" />
  <arg name="number"     value="1" />

  <group ns='yutu_0'>
    <!-- vehicle configs -->
      <arg name="ID" value="0"/>
      <arg name="ID_in_group" value="0"/>
    <!-- vehicle spawn -->
    <include file="$(find yutu_description)/launch/single_yutu_sim.launch" >
      <arg name="vehicle" value="$(arg vehicle)"/>
      <arg name="ID" value="$(arg ID)"/>
      <arg name="ID_in_group" value="$(arg ID_in_group)"/>
    </include>
  </group>
  
  <node name="multi_coordinate_transfer" pkg="yutu_description" type="multi_coordinate_transfer.py" output="screen">
    <param name='vehicle' value="$(arg vehicle)" />
    <param name='number'  value="$(arg number)" type="int"/>
  </node>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find yutu_description)/rviz/multi_robot.rviz" />

</launch>