<launch>
  <!-- vehicle model and config -->
  <arg name="vehicle" default="yutu" />
  <arg name="ID" default="0"/>
  <arg name="ID_in_group" default="0"/>

  <param name="robot_description" command="$(find xacro)/xacro '$(find yutu_description)/urdf/xacro/yutu_sim.xacro' ns:=$(arg vehicle)_$(arg ID_in_group)" />
  
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" >  
    <!-- <param name="publish_frequency" type="double" value="50.0" /> -->
    <param name="tf_prefix" value="$(arg vehicle)_$(arg ID_in_group)" /> <!-- Distinguish different robots -->
  </node>
	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" >
    <!-- <param name="publish_frequency" type="double" value="50.0" /> -->
    <param name="tf_prefix" value="$(arg vehicle)_$(arg ID_in_group)" />
  </node>

  <!--commond-->
  <!--rostopic pub -r 10 /yutu_0/cmd_vel geometry_msgs/Twist '{linear: {x: 1.0, y: 0, z: 0}, angular: {x: 0, y: 0, z: 0.5}}'-->
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
    <rosparam file="$(find yutu_description)/config/$(arg vehicle)/$(arg vehicle)_$(arg ID_in_group)_arbotix.yaml" command="load" />
    <param name="sim" value="true" />
    <remap from="odom" to="odometry"/>
  </node>
  
</launch>