<launch>
  <!-- generate map -->
  <node pkg="mockamap" type="mockamap_node" name="mockamap_node" output="screen">
    <rosparam file="$(find simulator)/config/mockamap.yaml"/>
    <remap from="/mock_map" to="/global_map"/>
  </node>

  <!-- <node pkg="rviz" type="rviz" name="rviz" args="-d $(find mockamap)/rviz/mockamap.rviz" required="true" /> -->

</launch>