<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"> 
  <gazebo>
		<plugin name="skid_steer_drive_controller" filename="libgazebo_ros_skid_steer_drive.so">
			<updateRate>100.0</updateRate>
			<robotNamespace>$(arg ns)</robotNamespace>
			<leftFrontJoint>left_front_wheel_joint</leftFrontJoint>
			<rightFrontJoint>right_front_wheel_joint</rightFrontJoint>
			<leftRearJoint>left_rear_wheel_joint</leftRearJoint>
			<rightRearJoint>right_rear_wheel_joint</rightRearJoint>
			<wheelSeparation>0.16</wheelSeparation>
			<wheelDiameter>0.05</wheelDiameter>
			<commandTopic>cmd_vel</commandTopic>
			<odometryTopic>odom</odometryTopic>
			<robotBaseFrame>/$(arg ns)/base_footprint</robotBaseFrame>
			<odometryFrame>/$(arg ns)/odom</odometryFrame>
			<torque>15</torque>
			<topicName>cmd_vel</topicName>
			<broadcastTF>1</broadcastTF>
	  	</plugin>
	</gazebo>
</robot>